#* @implicitly included *#
#* @vtlvariable name="WebPath" type="smartbox.Util.Path.Web" *#
#* @vtlvariable name="msg" type="smartbox.Util.MessageBundle" *#
#* @vtlvariable name="users" type="java.lang.Iterable<smartbox.User.User>" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
